/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html {
    font-family: monospace;
}

.nav-icon {
    width: 20px;
    height: auto;
}

.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 4fr;
}

.sidebar {
    background-color: #57534e;
    color: white;
    display: grid;
    grid-template-rows: 1fr 2fr 3fr;
}

.logo {
    font-weight: bold;
    font-size: 20px;
    padding: 16px;
    align-self: left;
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: start;
    gap: 8px;
}

.logo span svg {
    width: 35px;
}

.sidebar ul {
    font-weight: bold;
    font-size: 16px;
    padding: 16px;
}

.sidebar ul li {
    margin-bottom: 16px;
}

.main-content {
    background-color: #e7e5e4;
    display: grid;
    grid-template-rows: 1fr 3fr;
}

.header {
    background-color: #fafaf9;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(2, 1fr);
}

.search-icon {
    width: 25px;
    height: auto;
}

.search {
    display: flex;
    grid-template-columns: 1fr 5fr;
    padding: 20px;
    gap: 8px;
    justify-content: flex-start;
    align-items: center;
}

form {
    background-color: rgb(218, 218, 218);
    width: 400px;
    height: 30px;
    border-radius: 2rem;
    display: flex;
    align-items: center;
}

input {
    all: unset;
    font: 16px;
    height: 100%;
    width: 100%;
    padding: 6px 10px;
}

.icons {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    align-items: center;
    gap: 16px;
}

.notification {
    width: 20px;
    height: auto;
}

.pfp {
    background-color: rgb(218, 218, 218);
    width: 30px;
    height: 30px;
    border-radius: 50px;
}

.username {
    font-weight: bold;
    font-size: 18px;
}

.greeting {
    padding: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
}

.greet-text {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.greeting .pfp {
    width: 50px;
    height: 50px;
}

.greet-text .message {
    font-size: 10px;
    font-weight: bold;
}

.buttons {
    display: flex;
    padding: 16px;
    gap: 8px;
    justify-content: center;
    align-items: center;
}

button {
    all: unset;
    background-color: rgb(146, 146, 236);
    width: 70px;
    height: 25px;
    padding: 4px;
    color: white;
    text-align: center;
    border-radius: 2rem;
}

.content {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: repeat(2, 1fr);
}

.projects {
    grid-row: 1/3;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    /* grid-template-rows: repeat(3, minmax(200px, 1fr)); */
    gap: 16px;
    padding: 16px;
}

.card {
    background-color: #fafaf9;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    border-inline-start: 10px solid rgb(146, 146, 236);
    border-radius: 1rem;
}

.card .prj-title {
    font-weight: bold;
    font-size: 16px;
}

.card .prj-descrip {
    font-size: 12px;
}

.prj-icon {
    display: flex;
    justify-content: flex-end;
    gap: 24px;
    padding: 16px;
}